<script setup lang="ts">
import ProfilePop from "@/components/ProfilePop.vue";
import { mdiHumanHandsdown, mdiBookAccount, mdiThumbUp } from "@mdi/js";
import { ref } from "vue";
const frameList = ref([
  {
    name: "Aketanawat Kotyota",
    img: "https://scontent.fbkk21-1.fna.fbcdn.net/v/t1.18169-9/12347574_948116851942871_8365690409691329059_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=174925&_nc_eui2=AeGioalGvI9aS7hNZ8zspDYgHvfYu5uA6W8e99i7m4Dpb6sWKTRGqBqOatt887En6XzsryZlZTkGkQzotCGFB7DJ&_nc_ohc=0Dp9mzI6WOAAX_ZZe74&_nc_ht=scontent.fbkk21-1.fna&oh=00_AfBjYROA16YK6jhjfQwZ0s7f40cod38GcO6TSSrEE06tqg&oe=63C612B0",
    email: "63160230@go.buu.ac.th",
  },
]);
</script>

<template>
  <v-container>
    <v-row
      ><v-col v-for="(item, index) of frameList" :key="index"
        ><ProfilePop
          :name="item.name"
          :img="item.img"
          :email="item.email"
        ></ProfilePop>
      </v-col>
    </v-row>

    <v-row justify="center">
      <v-col cols="6">
        <v-table
          ><thead>
            <tr>
              <th>
                <v-icon :icon="mdiHumanHandsdown" color="red" />ประวัติส่วนตัว
              </th>
              <th>
                <v-icon :icon="mdiBookAccount" color="green" />ประวัติการศึกษา
              </th>
              <th><v-icon :icon="mdiThumbUp" color="blue" />สิ่งที่เราสนใจ</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ชื่อเล่น : เอก</td>
              <td>อนุบาลศึกษา : โรงเรียนชุมชลพัฒนา จังหวัดสระแก้ว</td>
              <td>การเล่นเกม</td>
            </tr>
            <tr>
              <td>วัน/เดือน/ปี(เกิด): 10/มกราคม/2545 (อายุ 20 ปี)</td>
              <td>
                ประถมศึกษา : โรงเรียนดาราสมุทร จ.สระแก้ว (ป1.-ป.2)
                โรงเรียนอนุบาลวัดสระแก้ว จ.สระแก้ว(ป.3-ป.6)
              </td>
              <td>ฟังเพลง (pop,k-pop,rock,strings)</td>
            </tr>
            <tr>
              <td>สัญชาติ : ไทย</td>
              <td>มัธยมศึกษา : โรงเรียนสระแก้ว จ.สระแก้ว</td>
              <td>ร้องเพลง</td>
            </tr>
            <tr>
              <td></td>
              <td>ปัจจุบัน : มหาวิทยาลัยบูรพา บางแสน (ป.ตรี ปี3)</td>
            </tr>
          </tbody></v-table
        >
      </v-col>
    </v-row>
  </v-container>
</template>
