<script lang="ts" setup>
const props = withDefaults(
  defineProps<{
    name: string;
    img: string;
    email: string;
  }>(),
  {}
);

// const props = defineProps({
//   name: {
//     type: String,
//     required: true,
//   },
//   img: {
//     type: String,
//     required: true,
//   },
//   rating: {
//     type: Number,
//     required: true,
//   },
// });
</script>

<template>
  <v-card class="mx-auto" max-width="344" variant="text">
    <v-img :src="props.img" height="200px"></v-img>
    <v-card-item>
      <div class="text-center">
        <div class="text-h6 mb-1">{{ props.name }}</div>
        <div class="caption">{{ props.email }}</div>
      </div>
    </v-card-item>
  </v-card>
</template>
